* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;

}

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

section {
    
}